
.Explorehouses__bg{
    background-image:url("../images/HDBExploreHouses.jpg");
    min-height: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #273c52;
    text-align: justify;
    text-overflow:unset;
    
}
.Explorehouses__bg h1{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    
}

.Housecards {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2rem;
    
}
