.ChangePasswordBackground {
    background-image:url("../images/HDBFAQ.jpg");
    min-height: 100vh;
    height: fill;
    background-repeat: no-repeat;
    background-size: cover;
}

.ChangePassword__bg{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}

.ChangePasswordCard{
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    margin-top: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 60vw;
    justify-content: left;
    align-items: center;
    height: 80%;
    
    gap: 2.5rem;

}

.ChangePasswordContent{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.ChangePasswordContent h1{
    font-size: 2rem;
}

.ChangePasswordContent h2{
    color: grey;
    font-size: 1.5rem;

}

.short-text {
    color: red;
    font-size: 16px;
    text-align: center;
}

.ChangePassword-container {
    padding: 4rem 5rem;
    font-size: 16px;
    text-align: left;
}

.ChangePassword-container form {
    display: flex;
    flex-direction: column;
    
}

.ChangePassword-container input {
    width: 100%;
    padding: 1rem 0rem 1rem 1.5em;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    font-size: large;
}


.btn-CP-primary {
    background-color: green;
    font-weight: bold;
    font-size: large;
    color: white;
    width: 100%;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }