.flat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.flat-inner {
    position: relative;
    padding: 32px;
    width: 90vh;
    max-width: 100vh;
    max-height: 90vh;
    background-color: #FFF;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: auto;
        
}

.flat-inner .close-flat {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 4px;
}

.DisplayFlat{
    padding-bottom: 2rem;
    background-color: #9DC0DE;
    height: 100vh;
    
}

.close-flat-container {
    margin-left: 10px;
}

.close-flat-container label {
    margin-right: 8px;
    border-radius: 4px;
}

.close-flat-container input {
    width: 50px;
    margin-right: 8px;
    border-radius: 4px;
}

.close-flat-container button {
    padding: 8px;
    background-color:  #b53369;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.close-flat-container button:hover {
    background-color:  #b53369;
}