nav.ul{
color: white;
text-decoration-color: #31526b;

}

.DivisionNavBarLink{
    color: white;
    font-weight: bold;
    display: flex;
    gap: 2.5rem;
    text-decoration-color: #31526b;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    font-size: 20px;  
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
  }

.divisonLink {
    color: white;
    font-size: 20px; 
    text-decoration: none;
    position: relative;
    left: 450px;
    padding: 5px 6px;
    
}

.navButton{
    --color-btn-primary: white;
    text-decoration-color: #31526b;
}
