
.Explorehouses__bg{
    padding-bottom: 2rem;
    background-color: #9DC0DE;
    height:100vh;
}
.Explorehouses__bg h1{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
}

.Housecards {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2rem;
    border-radius: 10px;
}
