.FAQBackground {
    background-image:url("../images/HDBFAQ.jpg");
    min-height: 100vh;
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.FAQCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
