.FBPBackground {
  background-image:url("../images/HDBMainpage.png");
  min-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.notification-box {
  position: absolute;
  top: 0px;
  right: -300px; /* start off-screen */
  background-color: #ffffcc;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* set the width of the notification box */
}

.Bar-Notify{
  font-size:25px;
  margin-right: 10px;
}

.notification-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-right: 10px;
  color: hsl(0, 0%, 4%); /* change the word color */
}

.notification-box button {
  background-color: #f73905;
  color: white;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.notification-box button:hover {
  background-color: #8e6a3e;
}

@keyframes slide-in {
  0% {
    right: -300px;
  }
  100% {
    right: 50px; /* final position */
  }
}
.notification-click {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 10px;
}

.second-nav {
 color: black;
 font-size: 20px;
 padding: 6px 10px;
 position: relative;
 left: 400px;
}

.homeicon:hover {
  color: rgb(185, 46, 46);
  
}
.arrow-right {
  color: grey;
}