.HomePageBackground {
    background-image:url("../images/HDBMainpage.png");
    min-height: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.DivisionBackGround {
    background-image:url("../images/DivisionBackGround.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 2vh;
    height: 5vh;
}