.Housecard{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}

.Housecard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Housecard__content{
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.3rem;
}

.Housecard__content__icons {
    display: flex;
    justify-content: flex-end;
}

.Housecard__content__icons__heart {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.1rem;
}

.Housecard__content__street{
    font-weight: bold;
}