.Myactivities__bg{
    background-image:url("../images/HDBFavourites.jpeg");
    min-height: 100vh;
    height: fill;
    background-repeat: no-repeat;
    background-size: cover;
}
.Myactivities__bg h1{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    color: #31526b;
}

.Housecards {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2rem;
}