.NavBar{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
}

.Logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav.ul{
color: black;

}

.NavBarLink{

    color: black;

    display: flex;
    gap: 2.5rem;

}
.navButton{
    --color-btn-primary: white;
}
.Logout{

    background-color: white;
    color: black;

}