.Search {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  background-color: #31526b;
  height: 18em;
  width: 700px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(248, 3, 3, 0.35) 0px 5px 15px;
  position: absolute;
  top: 43%;
  border-radius: 10px;
  z-index: 1;
}

.searchbox-dropdown {
  position: absolute;
  width: 467px;
  top: 184px;
  left: 130px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

.dropdown:empty {
  width: 100px;
  border: none;
  border-radius: 30px;

}

.searchbox-dropdownRow {
  position: relative;
  height: 50px;
  right: -4px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: start;
  margin: 1px 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;

}

input {
  width: 230px;
  border-radius: 10px;
  border: 1px solid white;
  text-indent: 50px;
}

.search-inner {
  display: flex;
  justify-content: center;
  padding: 1rem 4rem;
  height: 7em;
  width: 700px;
  position: absolute;
  top: 30%;
  border-radius: 10px;


}

.location-input {
  width: 300%;
  padding: 12px 20px;
  margin: 1px 0;
  box-sizing: border-box;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.Search input::placeholder {
  position: absolute;
  left: 55px;
  top: 25px;
  font-size: 23px;
  z-index: 1;
}

.exploreSearch {
  font-size:25px;
  background-color:rgb(237, 58, 58);
  border: none;
  font-weight: bold;
  font-size: large;
  color: white;
  height: 11vh;
  width: 200%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1px 0;
  box-sizing: border-box;
}

.Search button:hover {
  background-color: grey;
}

.Search h3 {
  color: white;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 40px;

}

.icon1 {
  position: absolute;
  left: 90px;
  top: 42px;
  font-size: 25px;
}

.multiselect {
  width: 200%;
}

/* Filter dropdown Styling */
.ddown-parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  }

.proCount{
  position: absolute;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  z-index: 1000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 110px;
  left: 80px;
}

 

  .anyPricing {
    position: absolute;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    z-index: 1000;
    font-size: 15px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 110px;
    left: 320px;
  }

  .bedroomCount{
    position: absolute;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    z-index: 1000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 110px;
    left: 450px;
  }

  .ddown-parameters select:hover {
    cursor: pointer;
  }

  .ddown-parameters option {
    color: black;

  }


