.SearchHousesPageBg {
    background-image:url("../images/SearchHousesPage.jpg");
    min-height: 100vh;
    text-align: center;
    height: fill;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.SearchHousesCard{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    flex-direction: column;
    background-color:#e4f4f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 90vw;
    justify-content: center;
    align-items: center;
   
    gap: 2.5rem;
    text-align: center;
    margin: 0;
   
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

