
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex: 1 1 auto;
}

.button {
  background-color: #344ae2;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  border-radius: 5px;
}

.searchContainer{
  border: none;


  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-left: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.searchInput{
  border: none;
  height: 4rem;
  width: 50vw;
  outline: none;

  font-size: 1.5rem;
}