.SearchHousesPageBg {
    background-image:url("../images/HDBExploreHouses.jpg");
    min-height: 200vh;
    text-align: center;
    height: fill;
    background-repeat:no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.SearchHousesPageBg h1{
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
}

.SearchHousesCard{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 98vw;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
    text-align: center;
    margin: 0;
    
    position:absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.table-container {
    display: flex;
    overflow-x: auto;
  }

  .table {
    flex: 1 1 auto;
    min-width: 100%;
    white-space: nowrap;
  }

  .table th,
  .table td {
    padding: 0.5rem;
    text-align: left;
  }

.page-num-container {
    margin-top: 16px;
}

.page-num-container label {
    margin-right: 8px;
}

.page-num-container input {
    width: 50px;
    margin-right: 8px;
}

.page-num-container button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.page-num-container button:hover {
    background-color: #3e8e41;
}

